Documentation/Lab1/lab1.synctex.gz
Documentation/Lab1/lab1.aux
Documentation/Lab1/lab1.log
Documentation/Lab1/lab1.out
Documentation/Lab1/lab1.toc
Documentation/Lab1/lab1.lof
/Documentation/Lab2/lab2.log
/Documentation/Lab2/lab2.aux
/Documentation/Lab2/lab2.lof
/Documentation/Lab2/lab2.out
/Documentation/Lab2/lab2.synctex.gz
/Documentation/Lab2/lab2.toc
Documentation/Lab2/lab2.lot
Lab2/__pycache__/parameters.cpython-37.pyc
Lab2/table.txt
